body{
	background-color: black;
}


#board {
	position: relative;
}

#board div {
	display: inline-block;
	position: absolute;
	background-color: black  ;
	border: 1px solid white;
	width:50px;
	height:50px;
}
#board2 div{
	display: inline-block;
	position: absolute;
	background-color: black ;
	border: 1px solid white;
	width:50px;
	height:50px;
	margin-left: 550px;
	margin-top: 7px;
}

p{
	color: red;
	font-weight: bold;
}

button {
	position:absolute;
    top:50px;
    right:0;
    margin-right: 190px;
	color: black;
	background-color: white;
	border: 0;
	font-size: 15px;
	/*line-height: 25px;
	padding: 15px;
	border-radius: 15px;
	float: right;
	position: center;
	margin-top: 550px;
	left: 50px;*/
}

/*#fire{
	color: black;
	background-color: red;
	border: 0;
	font-size: 25px;
	line-height: 25px;
	padding: 15px;
	border-radius: 15px;
	float: right;
	position: relative;
	top: 500px;
	
}*/

#msg-div {
	position: relative;
	top: 500px;
	color: white;
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
}

.next {
  background-color: #4CAF50;
  color: white;
}

.round {
  border-radius: 50%;
}