#board {
	position: relative;
}

#board div {
	display: inline-block;
	position: absolute;
	background-color: ;
	border: 1px solid black;
	width:50px;
	height:50px;
}
#board2 div{
	display: inline-block;
	position: absolute;
	background-color: ;
	border: 1px solid black;
	width:50px;
	height:50px;
	margin-left: 550px;
	margin-top: 7px;
}

button {
	color: black;
	background-color: white;
	border: 0;
	font-size: 25px;
	line-height: 25px;
	padding: 15px;
	border-radius: 15px;
	float: right;
	position: center;
}

/*#fire{
	color: black;
	background-color: red;
	border: 0;
	font-size: 25px;
	line-height: 25px;
	padding: 15px;
	border-radius: 15px;
	float: right;
	position: relative;
	top: 500px;
	
}*/

#msg-div {
	position: relative;
	top: 500px;
}

/*h1{
	display: center;
	text-align: center;
}
*/
