body{
	background-color: black;
}



#board {
	position: relative;
}

#board div {
	display: inline-block;
	position: absolute;
	background-color: black  ;
	border: 1px solid white;
	width:50px;
	height:50px;
}
#board2 div{
	display: inline-block;
	position: absolute;
	background-color: black ;
	border: 1px solid white;
	width:50px;
	height:50px;
	margin-left: 550px;
	margin-top: 7px;
}

button {
	color: black;
	background-color: white;
	border: 0;
	font-size: 25px;
	line-height: 25px;
	padding: 15px;
	border-radius: 15px;
	float: right;
	position: center;
}

/*#fire{
	color: black;
	background-color: red;
	border: 0;
	font-size: 25px;
	line-height: 25px;
	padding: 15px;
	border-radius: 15px;
	float: right;
	position: relative;
	top: 500px;
	
}*/

#msg-div {
	position: relative;
	top: 500px;
}

/*h1{
	display: center;
	text-align: center;
}
*/

.callout {
  position: fixed;
  bottom: 35px;
  right: 20px;
  margin-left: 20px;
  max-width: 300px;
}

/* Callout header */
.callout-header {
  padding: 25px 15px;
  background: #555;
  font-size: 30px;
  color: white;
}

/* Callout container/body */
.callout-container {
  padding: 15px;
  background-color: #ccc;
  color: black
}

/* Close button */
.closebtn {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
  color: lightgrey;
}
